    
<div class ="row">
    <div class="col-md-6 mx-auto mt-5">
       <div class="card">
        <div class="card-body">
                    <form  [formGroup]="registerForm" (ngSubmit)="onRegister()"
                    >
                        <h3 class="text-center text-info">REGISTRO</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Correo:</label><br>
                            <input type="email" name="username" id="username" formControlName="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info required">Contraseña:</label><br>
                            <input type="password" name="password" id="password" formControlName="password"  class="form-control ">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="text-info">Repita su contraseña:</label><br>
                            <input type="password" name="password2" id="password2" required="true" formControlName="password2" class="form-control">
                        </div>
                        <div class="form-group">
         
                            <button type="submit"  class="btn btn-primary btn-lg btn-block" > Aceptar</button>
                        </div>
                        <div id="register-link" class="text-right link">
                            <a class="text-info" [routerLink]="['/login']" >Ya tengo cuenta </a>
                          
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

