
    <div class="row">
      <div class="col-12 col-sm6">
      <h2 style="text-align: center;padding:10px" >Listado de clientes</h2>
    </div>
    </div>
    <div class="row"> 
      <div class="col-1"></div>
      <div class="col-10">
    <div class="table-responsive "  >
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
         class="table table-primary table-striped table-bordered row-border hover ">
        <thead>
            <tr >
            <th scope="col" >Nombre </th>
            <th scope="col"  >CIF/DNI</th>
      
            <th scope="col" >Razón Social</th>
            <th scope="col" >Dirección</th>
            <th scope="col" >Población</th>
            <th scope="col" >Provincia/CP</th>
            <th scope="col" >Telefono</th>
            <th scope="col" >Telefono 2/Fax</th>
            <th scope="col" >email</th>
            <th scope="col" >Actividad</th>
            <th scope="col" >Observaciones</th>
            <th scope="col" >Fecha última modif.</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes " (dblclick)="modificar(cliente)">
          <td >{{ cliente.payload.doc.data().nombre }}</td>
          <td>{{ cliente.payload.doc.data().DNI }}</td>
     
          <td> {{cliente.payload.doc.data().razon }}</td>
          <td> {{cliente.payload.doc.data().direccion }}</td>
          <td> {{cliente.payload.doc.data().poblacion }}</td>
          <td> {{cliente.payload.doc.data().provincia }} /{{cliente.payload.doc.data().cp }}</td>     
          <td >{{cliente.payload.doc.data().telefono1 }}</td>
          <td >{{cliente.payload.doc.data().telefono2 }} /{{cliente.payload.doc.data().fax }}</td>
          <td >{{cliente.payload.doc.data().email }}</td>
          <td >{{cliente.payload.doc.data().actividad }}</td>
          <td >{{cliente.payload.doc.data().observaciones }}</td>
       
          <td   *ngIf="cliente.payload.doc.data().fecha_modif"  >{{cliente.payload.doc.data().fecha_modif }}</td>
          <td   *ngIf="!cliente.payload.doc.data().fecha_modif"  >{{cliente.payload.doc.data().fecha_alta }}</td>
        
          </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
