
    <div class="row">
      <div class="col-12 col-sm6">
      <h2 style="text-align: center;padding:10px" >Listado de clientes</h2>
    </div>
    </div>
    <div class="row"> 
      <div class="col-1"></div>
      <div class="col-10">
    <div class="table-responsive "  >
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
         class="table table-primary table-striped table-bordered row-border hover ">
        <thead>
            <tr >
            <th scope="col" >Nombre </th>
            <th scope="col"  >CIF/DNI</th>
      
            <th scope="col" >Razón Social</th>
            <th scope="col" >Dirección</th>
            <th scope="col" >Población</th>
            <th scope="col" >Provincia/CP</th>
            <th scope="col" >Telefono</th>
            <th scope="col" >Telefono 2/Fax</th>
            <th scope="col" >email</th>
            <th scope="col" >Actividad</th>
            <th scope="col" >Observaciones</th>
            <th scope="col" >Fecha última modif.</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes ">
          <td >{{ cliente.nombre }}</td>
          <td>{{ cliente.DNI }}</td>
     
          <td> {{cliente.razon }}</td>
          <td> {{cliente.direccion }}</td>
          <td> {{cliente.poblacion }}</td>
          <td> {{cliente.provincia }} /{{cliente.cp }}</td>     
          <td >{{cliente.telefono1 }}</td>
          <td >{{cliente.telefono2 }} /{{cliente.fax }}</td>
          <td >{{cliente.email }}</td>
          <td >{{cliente.actividad }}</td>
          <td >{{cliente.observaciones }}</td>
       
          <td   *ngIf="cliente.fecha_modif"  >{{cliente.fecha_modif }}</td>
          <td   *ngIf="!cliente.fecha_modif"  >{{cliente.fecha_alta }}</td>
        
          </tr>
        </tbody>
    </table>
  </div>
  </div>
  </div>
