<div class="container ">
  <div class="row">
    <div class="col-xs-3" style="margin:0 auto">
<form  [formGroup]="addClienteForm" novalidate (ngSubmit)="onAdd($event)" >

  <fieldset>
    <legend><h1>Formulario Creación Usuario</h1></legend>

    <!--Nombre-->
    <div class="form-group">
      <label for="campo-Nombre">Nombre</label>
      <input type="text" class="form-control"
      [class.is-valid]="nombreValid"
        [class.is-invalid]="nombreInValid"
        formControlName="nombre"

      id="campo-Nombre" aria-describedby="emailHelp" placeholder="Nombre">
      <small *ngIf="addClienteForm.get('nombre').hasError('nombre')"class="invalid-feedback" >Debes introducir un nombre de usuario</small>
    </div>

      <!--Edad-->

    <div class="form-group">
      <label for="campo-Edad">Edad</label>
      <input type="number" class="form-control"
      [class.is-valid]="edadValid"
        [class.is-invalid]="edadInValid"
        formControlName="edad"

      id="campo-Edad" aria-describedby="emailHelp" placeholder="Edad">
      <small *ngIf="addClienteForm.get('edad').hasError('edad')"class="invalid-feedback" >Debes introducir una edad</small>
    </div>

    <!--DNI-->

   <div class="form-group">
    <label for="campo-DNI">DNI/CIF</label>
    <input type="text" class="form-control"
    [class.is-valid]="dniValid"
      [class.is-invalid]="dniInValid"
      formControlName="dni"

    id="campo-DNI" aria-describedby="emailHelp" placeholder="DNI/CIF">
    <small *ngIf="addClienteForm.get('dni').hasError('dni')"class="invalid-feedback" >Debes introducir el DNI/CIF</small>
  </div>

  <!--Razon social-->

  <div class="form-group">
    <label for="campo-Razon">Razón Social</label>
    <input type="text" class="form-control"
    [class.is-valid]="razonValid"
      [class.is-invalid]="razonInValid"
      formControlName="razon"

    id="campo-razon" aria-describedby="emailHelp" placeholder="Razón Social">
    <small *ngIf="addClienteForm.get('razon').hasError('razon')"class="invalid-feedback" >Debes introducir la razón social</small>
  </div>

  <!--Dirección-->

  <div class="form-group">
    <label for="campo-Direccion">Direccion</label>
    <input type="text" class="form-control"
    [class.is-valid]="direccionValid"
      [class.is-invalid]="direccionInValid"
      formControlName="direccion"

    id="campo-direccion" aria-describedby="emailHelp" placeholder="Dirección">
    <small *ngIf="addClienteForm.get('direccion').hasError('direccion')"class="invalid-feedback" >Debes introducir la razón social</small>
  </div>

  <!--CP-->

  <div class="form-group">
    <label for="campo-cp">CP</label>
    <input type="number" class="form-control"
    [class.is-valid]="cpValid"
      [class.is-invalid]="cpInValid"
      formControlName="cp"

    id="campo-cp" aria-describedby="emailHelp" placeholder="Código Postal">
    <small *ngIf="addClienteForm.get('cp').hasError('cp')"class="invalid-feedback" >Debes introducir el código postal</small>
  </div>

  <!--email-->
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control-plaintext"
        [class.is-valid]="emailValid"
        [class.is-invalid]="emailInValid"
        formControlName="email"
        id="staticEmail" >
        <small *ngIf="addClienteForm.get('email').hasError('email')"class="invalid-feedback"  >Debes introducir email valido</small>
      </div>
    </div>

<div class="row justify-content-center">
    <button type="submit" class="btn btn-primary">Crear</button>
    <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>
    <button type="reset" class="btn btn-danger">Borrar</button>
  </div>

  </fieldset>
</form>
</div>
