<p>Ejemplo de CRUD, funciona hay que hacer el formulario y la tabla</p>

<button class="btn btn-primary" type="button" (click)="pintaClientes($event)"> envio</button>

<table class="table table-hover">
  <thead>
    <tr class="table-active text-center align-items-center">
      <th scope="col" class="align-middle">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">CIF/DNI</th>
      <th scope="col" >Razón Social</th>
      <th scope="col">Dirección</th>
      <th scope="col">CP</th>
      <th scope="col">Poblacion</th>
      <th scope="col">Provincia</th>
      <th scope="col">Pais</th>
      <th scope="col">Telefono 1</th>
      <th scope="col">Telefono 2</th>
      <th scope="col">Fax</th>
      <th scope="col">Actividad</th>
      <th scope="col">email</th>
      <th scope="col">Fecha Alta</th>
      <th scope="col">Fecha Modif</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let order of clientes; let impar = odd; let par =even;" [ngClass] = "{azul:par,gris:impar}">
      <td >{{ order.payload.doc.data().nombre }}</td>
      <td align="center">{{ order.payload.doc.data().edad }}</td>
      <td align="center">{{ order.payload.doc.data().DNI }}</td>
      <td align="center">{{ order.payload.doc.data().razon }}</td>
      <td align="center">{{ order.payload.doc.data().direccion }}</td>
      <td align="center">{{ order.payload.doc.data().cp }}</td>
      <td align="center">{{ order.payload.doc.data().poblacion }}</td>
      <td align="center">{{ order.payload.doc.data().provincia }}</td>
      <td align="center">{{ order.payload.doc.data().pais }}</td>
      <td align="center">{{ order.payload.doc.data().telefono1 }}</td>
      <td align="center">{{ order.payload.doc.data().telefono2 }}</td>
      <td align="center">{{ order.payload.doc.data().fax }}</td>
      <td align="center">{{ order.payload.doc.data().actividad }}</td>
      <td align="center">{{ order.payload.doc.data().email }}</td>
      <td align="center">{{ order.payload.doc.data().fecha_alta }}</td>
      <td align="center">{{ order.payload.doc.data().fecha_modif }}</td>
      <td align="center">{{ order.payload.doc.data().observaciones }}</td>
    </tr>


  </tbody>
</table>







