.azul {
  border-color:#93d0f3;
  background-color:#c5e6f8
  }
.azul:hover{background-color:#aedcf5}
.gris {
    border-color:#f4f5f7;
    background-color:#eaedf1;
  }
.gris:hover{background-color:#dee2e6}
