<div id="content" #content  >
        <!-- Cabecera -->
        <header>
            
            <table style="width: 100%;margin-left: 5em; margin-right: 5em;">
                <tr>
                    <td colspan="4">
                        <img class="img-responsive" src="assets/logoMovall.jpg"  alt="logo" height="100" width="400"  /> 
                    </td>
                    <td colspan="4" width="200">
                        
                    </td>
                    <td colspan="4" width="200">
                        <ul class="list-group">
                            <li  style="border: none; list-style-type:none ; ">C/Melgares nº5, 47010 Valladolid</li>
                            <li style="border: none; list-style-type:none ; ">CIF: 3849348F</li>
                            <li style="border: none; list-style-type:none ; ">TLF/FAX: 983255070</li>
                            <li style="border: none; list-style-type:none ; ">email: movall@telefonica.net</li>
                          </ul>
                    </td>
                </tr>
            </table>
           

          


        </header>

        <!-- Contenido -->
        <section style="margin-left: 5em; margin-right: 5em;">
            
            

            <hr style="height:10px;border:1px;border-color:black;background-color:#004fea" >

            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td  width="20%" >
                        
                    </td>
                    <td colspan="2" >
                        <strong>NºFACTURA:</strong><strong> 234</strong>
                    </td>
                    <td  >
                        <strong>Ref: </strong><strong>julianVelazquez12</strong>
                    </td>
                    <td >
                        <label>Fecha:</label><small> 20/07/2020</small> 
                    </td>

                </tr>
                <tr style="height: 20px;">

                </tr>
                <tr >
                <td colspan="4" style="text-align: left;">
                    <strong>R. Social: </strong>
                      <span> ATLAS COPCO,S.A.E División Compresores</span> 
                    </td>
                    <td  style="text-align: left;">
                        <strong>CIF/DNI: </strong>
                          <span> 28392833Q</span> 
                        </td>    
                   

                </tr>
                <tr >
                    <td colspan="2" style="text-align: left;">
                        <strong>Nombre: </strong>
                          <span> ATLAS COPCO,S.A.E División Compresores</span> 
                        </td>
                        <td colspan="2">
                            <strong>Móbil: </strong>
                              <span>645633321</span> 
                        </td>    
                        <td  style="text-align: left;">
                            <strong>Telefono/Fax: </strong>
                              <span>98345666</span> 
                        </td>  
                       
    
                    </tr>

                    <tr >
                        <td colspan="2" style="text-align: left;">
                            <strong>Dirección: </strong>
                              <span>C/Gloria Fuertes nº34 </span> 
                            </td>
                            <td  colspan="2">
                                <strong>Localidad: </strong>
                                  <span>Valladolid</span> 
                            </td>    
                            <td  style="text-align: left;">
                                <strong>CP: </strong>
                                  <span>47015</span> 
                            </td>  
                           
        
                        </tr>      
                        <tr >
                            <td colspan="2" style="text-align: left;">
                                <strong>Provincia: </strong>
                                  <span>Valladolid</span> 
                                </td>
                                <td  colspan="3">
                                    <strong>email: </strong>
                                      <span>atlascoppoPas@atlascoppoPas.com</span> 
                                </td>    
                                
                               
            
                            </tr>                        
                            <tr style="height: 20px;">

            </table>
            <div style="border-style:solid;border-color: #004fea;padding: 5px; ">
                <strong>Forma de Pago: </strong>
                <span>Trasferencia</span> 
            </div>
           
            <hr style="height:10px;border:1px;border-color:black;background-color:#004fea" >
 
            <table class="table table-hover" style="width: 100%;">
                <thead class="border-movall">
                <tr class="table-primary">
                    <th scope="col" class="number-movall" style="width: 10%;">Cantidad</th>
                    <th scope="col" style="width: 60%;">Concepto</th>
                    <th scope="col" class="number-movall" style="width: 15%;">Precio Und.</th>
                    <th scope="col" class="number-movall" style="width: 15%;">Total</th>             
                </tr>
            </thead>
            <tbody class="border-movall">
                <tr>
                    <td class="number-movall" >1</td>
                    <td >24508 DE SECADOR FD-850380V AIQ</td>
                    <td class="number-movall" >34</td>
                    <td class="number-movall" >34</td>
                </tr>
                <tr>
                    <td class="number-movall" >1</td>
                    <td >24508 DE SECADOR FD-850380V AIQ</td>
                    <td class="number-movall" >34</td>
                    <td class="number-movall" >34</td>
                </tr>
                <tr>
                    <td class="number-movall" >1</td>
                    <td >24508 DE SECADOR FD-850380V AIQ</td>
                    <td class="number-movall" >34</td>
                    <td class="number-movall" >34</td>
                </tr>
                <tr>
                    <td class="number-movall" >1</td>
                    <td >24508 DE SECADOR FD-850380V AIQ</td>
                    <td class="number-movall" >34</td>
                    <td class="number-movall" >34</td>
                </tr>
                <tr>
                    <td class="number-movall" >1</td>
                    <td >24508 DE SECADOR FD-850380V AIQ</td>
                    <td class="number-movall" >34</td>
                    <td class="number-movall" >34</td>
                </tr>
     
                </tbody>
                <tfoot>
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td style="text-align: right;" >SUMA: </td>
                        <td style="border-style: solid;text-align: right;" >520 €</td>
                    </tr> 
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td style="text-align: right;" >IVA(21%): </td>
                        <td style="border-style: solid;text-align: right;" >105 €</td>
                    </tr> 
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td style="text-align: right; "><strong>TOTAL A PAGAR: </strong> </td>
                        <td style="border-style: solid;text-align: right;" > <strong>655,00 €</strong></td>
                    </tr> 
                </tfoot>
            </table>
            <br>
            <br>
            <button class="btn btn-secondary" type="button" (click)="exportarPdf()" >PDF</button>

        </section>




        <!-- Pie de pagina -->
        <footer>
            <p style="font-size: smaller;margin-left: 3em; margin-right: 3em;" >
                Los datos personales que constan en este documento están incorporados a un fichero cuya finalidad es la gestión de clientes contable,fiscal, administrativa, el mantenimiento de la relación contractual y el ofrecimiento de productos y servicios y del que es responsable REFRIGERACION MOVALL,S.L domicilio en C/Melgares,5 47010 Valladolid ante quien podrá ejercitar sus derechos conforme a la L.O.P.D dirigiendo carta junto con copia de su D.N.I.Si no manifiesta oposición en el plazo de 30 días desde recepción de este documento tácitamente nos autoriza a su tratamiento
            </p>
          

        </footer>
        
    </div>
   
