  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }

  table{
    margin: 10px !important;
    text-align: center;
    width: 98% !important;

   }



   input{
     text-align: right;
   }



   .mat-column-nombre {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
      -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
     text-align: center;


   }

   .mat-column-dni {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 7% !important;
     width: 7% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;

     word-break: break-word;

     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-razon {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;

     word-break: break-word;

     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
     text-align: center;
   }

   .mat-column-direccion {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 18% !important;
     width: 18% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;

     word-break: break-word;

     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
     text-align: center;
   }
   .mat-column-actividad {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-poblacion, .mat-column-provincia
  {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 10% !important;
   width: 10% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
   text-align: center;
 }


  .mat-row:nth-child(even){
    border-color:#93d0f3;
    background-color:#c5e6f8
    }

  .mat-row:nth-child(odd){
    border-color:#f4f5f7;
    background-color:#eaedf1;
    }

  .mat-row:hover > .mat-cell {
    background-color:#dee2e6
    }
    .mat-sort-header{
      background-color:#259fe6;
      color:white;
      font-size: 14px;
    }
    table {
      width: 100%;
    }

    tr.example-detail-row {
      height: 0;

    }

    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }

    .example-element-row td {
      border-bottom-width: 0;

    }

    .example-element-detail {
      overflow: hidden;
      display: flex;

    }



    .example-element-description {
      padding: 12px;
    }

    .example-element-description-attribution {
      opacity: 0.05;
    }
